{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

  <h1>Create Custom Field</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" id="code" name="code" required>
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" aria-label="Default select example" name="type" required>
            <option value="char">Char</option>
            <option value="int">Int</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


{% endblock %}
